mixin footer(obj)
    footer(class="footer")
        div(class="box footer__box")
            a(href="index.html" class="logo footer__logo")
                img(class="logo__img footer__logo-img" src="images/svg-icon/footer-logo.svg" alt="Footer logo")

            div(class="social-links footer__social-links")
                ul(class="social-links__list")
                    li(class="social-links__item")
                        a(href="#5" class="social-links__link")
                            img(class="social-links__img" src="images/svg-icon/vk.png")
                    li(class="social-links__item")
                        a(href="#5" class="social-links__link")
                            img(class="social-links__img social-links__img--insta" src="images/svg-icon/insta.png")
                    li(class="social-links__item")
                        a(href="#5" class="social-links__link")
                            img(class="social-links__img social-links__img--fb" src="images/svg-icon/fb.png ")

            div(class="copyright")
                a(href="#5" class="copyright__link") HTML Academy
                    img(class="copyright__img" src="images/svg-icon/htmlacademy.png" alt="Copyright")
