.title {
    font-size: 60px;
    font-weight: 400;
    line-height: calc(60/60);
    color: var(--text-dark);

    @media (--S) {
        font-size: 50px;
    }

    @media (--XS) {
        font-size: 36px;
    }
}
