<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Cat energy</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/catalog.css" />
</head>

<body class="page">
    <div class="page__container">
        <header class="header header--dark">
            <div class="box header__box">
                <div class="header__actions"><a class="logo header__logo" href="index.html">
                        <picture>
                            <source class="logo__img" srcset="images/svg-icon/logo-mobile.svg" alt="Logo" media="(max-width: 767px)" />
                            <source class="logo__img" srcset="images/svg-icon/logo-tablet.svg" alt="Logo" media="(max-width: 991px)" /><img class="logo__img" src="images/svg-icon/logo-desktop.svg" alt="Logo" /></picture>
                    </a><button class="button-menu header__button-menu"><span class="button-menu__container"></span></button></div>
                <nav class="nav header__nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link" href="index.html">Главная</a></li>
                        <li class="nav__item"><a class="nav__link nav__link--active" href="catalog.html">Каталог продукции</a></li>
                        <li class="nav__item"><a class="nav__link" href="program.html">Подбор программы</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <section class="products">
                <div class="box products__box">
                    <h1 class="title products__title">Каталог продукции</h1>
                    <div class="products__list">
                        <div class="product products__item">
                            <div class="image-box product__image-box product__image-box--mobile">
                                <picture>
                                    <source class="image-box__img product__img" srcset="images/products/product-mobile-1.png" alt="Product" media="(max-width: 575px)" /><img class="image-box__img product__img" src="images/products/product-1.png" srcset="images/products/product-1@2x.png 2x" alt="Product" /></picture>
                            </div>
                            <div class="product__description">
                                <p class="product__title">Cat Energy pro <span class="product__weight">500 г</span></p>
                                <table class="product__properties">
                                    <tr class="product__tr">
                                        <td class="product__text">Объем</td>
                                        <td class="product__text product__text--right">500 г</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Вкус</td>
                                        <td class="product__text product__text--right">Курица</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Цена</td>
                                        <td class="product__text product__text--cost product__text--right">700 р</td>
                                    </tr>
                                </table>
                            </div><button class="button button--size-m button--text-s product__button" type="button"><span class="button__text">Заказать</span></button>
                        </div>
                        <div class="product product--size-l products__item">
                            <div class="image-box product__image-box product__image-box--mobile">
                                <picture>
                                    <source class="image-box__img product__img" srcset="images/products/product-mobile-2.png" alt="Product" media="(max-width: 575px)" /><img class="image-box__img product__img" src="images/products/product-2.png" srcset="images/products/product-2@2x.png 2x" alt="Product" /></picture>
                            </div>
                            <div class="product__description">
                                <p class="product__title">Cat Energy pro <span class="product__weight">1000 г</span></p>
                                <table class="product__properties">
                                    <tr class="product__tr">
                                        <td class="product__text">Объем</td>
                                        <td class="product__text product__text--right">1000 г</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Вкус</td>
                                        <td class="product__text product__text--right">Курица</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Цена</td>
                                        <td class="product__text product__text--cost product__text--right">1000 р</td>
                                    </tr>
                                </table>
                            </div><button class="button button--size-m button--text-s product__button" type="button"><span class="button__text">Заказать</span></button>
                        </div>
                        <div class="product products__item">
                            <div class="image-box product__image-box product__image-box--mobile">
                                <picture>
                                    <source class="image-box__img product__img" srcset="images/products/product-mobile-3.png" alt="Product" media="(max-width: 575px)" /><img class="image-box__img product__img" src="images/products/product-3.png" srcset="images/products/product-3@2x.png 2x" alt="Product" /></picture>
                            </div>
                            <div class="product__description">
                                <p class="product__title">Cat Energy pro <span class="product__weight">500 г</span></p>
                                <table class="product__properties">
                                    <tr class="product__tr">
                                        <td class="product__text">Объем</td>
                                        <td class="product__text product__text--right">500 г</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Вкус</td>
                                        <td class="product__text product__text--right">Рыба</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Цена</td>
                                        <td class="product__text product__text--cost product__text--right">700 р</td>
                                    </tr>
                                </table>
                            </div><button class="button button--size-m button--text-s product__button" type="button"><span class="button__text">Заказать</span></button>
                        </div>
                        <div class="product product--size-l products__item">
                            <div class="image-box product__image-box product__image-box--mobile">
                                <picture>
                                    <source class="image-box__img product__img" srcset="images/products/product-mobile-4.png" alt="Product" media="(max-width: 575px)" /><img class="image-box__img product__img" src="images/products/product-4.png" srcset="images/products/product-4@2x.png 2x" alt="Product" /></picture>
                            </div>
                            <div class="product__description">
                                <p class="product__title">Cat Energy pro <span class="product__weight">1000 г</span></p>
                                <table class="product__properties">
                                    <tr class="product__tr">
                                        <td class="product__text">Объем</td>
                                        <td class="product__text product__text--right">1000 г</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Вкус</td>
                                        <td class="product__text product__text--right">Рыба</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Цена</td>
                                        <td class="product__text product__text--cost product__text--right">1000 р</td>
                                    </tr>
                                </table>
                            </div><button class="button button--size-m button--text-s product__button" type="button"><span class="button__text">Заказать</span></button>
                        </div>
                        <div class="product products__item">
                            <div class="image-box product__image-box product__image-box--mobile">
                                <picture>
                                    <source class="image-box__img product__img" srcset="images/products/product-mobile-5.png" alt="Product" media="(max-width: 575px)" /><img class="image-box__img product__img" src="images/products/product-5.png" srcset="images/products/product-5@2x.png 2x" alt="Product" /></picture>
                            </div>
                            <div class="product__description">
                                <p class="product__title">Cat Energy slim <span class="product__weight">500 г</span></p>
                                <table class="product__properties">
                                    <tr class="product__tr">
                                        <td class="product__text">Объем</td>
                                        <td class="product__text product__text--right">500 г</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Вкус</td>
                                        <td class="product__text product__text--right">Гречка</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Цена</td>
                                        <td class="product__text product__text--cost product__text--right">400 р</td>
                                    </tr>
                                </table>
                            </div><button class="button button--size-m button--text-s product__button" type="button"><span class="button__text">Заказать</span></button>
                        </div>
                        <div class="product product--size-l products__item">
                            <div class="image-box product__image-box product__image-box--mobile">
                                <picture>
                                    <source class="image-box__img product__img" srcset="images/products/product-mobile-6.png" alt="Product" media="(max-width: 575px)" /><img class="image-box__img product__img" src="images/products/product-6.png" srcset="images/products/product-6@2x.png 2x" alt="Product" /></picture>
                            </div>
                            <div class="product__description">
                                <p class="product__title">Cat Energy slim <span class="product__weight">1000 г</span></p>
                                <table class="product__properties">
                                    <tr class="product__tr">
                                        <td class="product__text">Объем</td>
                                        <td class="product__text product__text--right">1000 г</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Вкус</td>
                                        <td class="product__text product__text--right">Гречка</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Цена</td>
                                        <td class="product__text product__text--cost product__text--right">700 р</td>
                                    </tr>
                                </table>
                            </div><button class="button button--size-m button--text-s product__button" type="button"><span class="button__text">Заказать</span></button>
                        </div>
                        <div class="product products__item">
                            <div class="image-box product__image-box product__image-box--mobile">
                                <picture>
                                    <source class="image-box__img product__img" srcset="images/products/product-mobile-7.png" alt="Product" media="(max-width: 575px)" /><img class="image-box__img product__img" src="images/products/product-7.png" srcset="images/products/product-7@2x.png 2x" alt="Product" /></picture>
                            </div>
                            <div class="product__description">
                                <p class="product__title">Cat Energy slim <span class="product__weight">500 г</span></p>
                                <table class="product__properties">
                                    <tr class="product__tr">
                                        <td class="product__text">Объем</td>
                                        <td class="product__text product__text--right">500 г</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Вкус</td>
                                        <td class="product__text product__text--right">Рис</td>
                                    </tr>
                                    <tr class="product__tr">
                                        <td class="product__text">Цена</td>
                                        <td class="product__text product__text--cost product__text--right">500 р</td>
                                    </tr>
                                </table>
                            </div><button class="button button--size-m button--text-s product__button" type="button"><span class="button__text">Заказать</span></button>
                        </div>
                        <div class="product product--background-transparent products__item">
                            <div class="image-box product__image-box product__image-box--mobile"><button class="product__button-more" type="button"><img class="product__button-img" src="images/svg-icon/plus.svg" alt="More product" /></button></div>
                            <div class="product__description">
                                <p class="product__title">Показать еще 100500 товаров <span class="product__weight"></span></p>
                                <p class="product__text">На самом деле вкусов гораздо больше!</p>
                            </div><button class="button button--size-m button--text-s button--grey product__button" type="button"><span class="button__text">Показать все</span></button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="additional-products">
                <div class="box additional-products__box">
                    <h2 class="additional-products__title">Дополнительные товары</h2>
                    <div class="additional-products__content">
                        <table class="additional-products__properties">
                            <tr class="additional-products__tr">
                                <td class="additional-products__name">Сахарозаменитель</td>
                                <td class="additional-products__volume">1 Упаковка <span class="additional-products__volume-quality">(100 г)</span></td>
                                <td class="additional-products__cost">200 р.</td>
                                <td class="additional-products__order"><button class="button button--size-l button--text-s additional-products__button" type="button"><span class="button__text">Заказать</span></button></td>
                            </tr>
                            <tr class="additional-products__tr">
                                <td class="additional-products__name">Питьевая вода</td>
                                <td class="additional-products__volume">5 литров</td>
                                <td class="additional-products__cost">50 Р.</td>
                                <td class="additional-products__order"><button class="button button--size-l button--text-s additional-products__button" type="button"><span class="button__text">Заказать</span></button></td>
                            </tr>
                            <tr class="additional-products__tr">
                                <td class="additional-products__name">Молоко</td>
                                <td class="additional-products__volume">1 литр</td>
                                <td class="additional-products__cost">100 Р.</td>
                                <td class="additional-products__order"><button class="button button--size-l button--text-s additional-products__button" type="button"><span class="button__text">Заказать</span></button></td>
                            </tr>
                            <tr class="additional-products__tr">
                                <td class="additional-products__name">Витамины</td>
                                <td class="additional-products__volume">1 упаковка <span class="additional-products__volume-quality">(30 г)</span></td>
                                <td class="additional-products__cost">300 Р.</td>
                                <td class="additional-products__order"><button class="button button--size-l button--text-s additional-products__button" type="button"><span class="button__text">Заказать</span></button></td>
                            </tr>
                        </table>
                        <div class="additional-products__present">
                            <div class="additional-products__image-box"><img class="additional-products__img" src="images/svg-icon/gift.png" alt="Gift" /></div>
                            <p class="additional-products__text">Закажите все<br> и получите чехол для<br> кота в подарок!</p>
                        </div>
                    </div>
                </div>
            </div>
            <section class="map map--catalog"><iframe class="map__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253003151!2d30.320858716211177!3d59.938719169054096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1559132482330!5m2!1sru!2sru" width="600" height="400"></iframe>
                <div class="box map__box">
                    <div class="map-address">
                        <p class="map-address__title">Приглашаем <br> к сотрудничеству дилеров!</p>
                        <p class="map-address__address"><span class="map-address__text">ул. Большая Конюшенная, д. 19/8</span><span class="map-address__text">Санкт-Петербург</span></p>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="box footer__box"><a class="logo footer__logo" href="index.html"><img class="logo__img footer__logo-img" src="images/svg-icon/footer-logo.svg" alt="Footer logo" /></a>
                <div class="social-links footer__social-links">
                    <ul class="social-links__list">
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img" src="images/svg-icon/vk.png" /></a></li>
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img social-links__img--insta" src="images/svg-icon/insta.png" /></a></li>
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img social-links__img--fb" src="images/svg-icon/fb.png " /></a></li>
                    </ul>
                </div>
                <div class="copyright"><a class="copyright__link" href="#5">HTML Academy<img class="copyright__img" src="images/svg-icon/htmlacademy.png" alt="Copyright" /></a></div>
            </div>
        </footer>
        <script src="scripts/common.js"></script>
    </div>
</body>

</html>
