<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Cat energy</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/form.css" />
</head>

<body class="page">
    <div class="page__container">
        <header class="header header--dark">
            <div class="box header__box">
                <div class="header__actions"><a class="logo header__logo" href="index.html">
                        <picture>
                            <source class="logo__img" srcset="images/svg-icon/logo-mobile.svg" alt="Logo" media="(max-width: 767px)" />
                            <source class="logo__img" srcset="images/svg-icon/logo-tablet.svg" alt="Logo" media="(max-width: 991px)" /><img class="logo__img" src="images/svg-icon/logo-desktop.svg" alt="Logo" /></picture>
                    </a><button class="button-menu header__button-menu"><span class="button-menu__container"></span></button></div>
                <nav class="nav header__nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link" href="index.html">Главная</a></li>
                        <li class="nav__item"><a class="nav__link nav__link--active" href="catalog.html">Каталог продукции</a></li>
                        <li class="nav__item"><a class="nav__link" href="program.html">Подбор программы</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <section class="form">
                <div class="box form__content"></div>
            </section>
            <section class="map map--catalog"><iframe class="map__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253003151!2d30.320858716211177!3d59.938719169054096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1559132482330!5m2!1sru!2sru" width="600" height="400"></iframe>
                <div class="box map__box">
                    <div class="map-address">
                        <p class="map-address__title">Приглашаем <br> к сотрудничеству дилеров!</p>
                        <p class="map-address__address"><span class="map-address__text">ул. Большая Конюшенная, д. 19/8</span><span class="map-address__text">Санкт-Петербург</span></p>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="box footer__box"><a class="logo footer__logo" href="index.html"><img class="logo__img footer__logo-img" src="images/svg-icon/footer-logo.svg" alt="Footer logo" /></a>
                <div class="social-links footer__social-links">
                    <ul class="social-links__list">
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img" src="images/svg-icon/vk.png" /></a></li>
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img social-links__img--insta" src="images/svg-icon/insta.png" /></a></li>
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img social-links__img--fb" src="images/svg-icon/fb.png " /></a></li>
                    </ul>
                </div>
                <div class="copyright"><a class="copyright__link" href="#5">HTML Academy<img class="copyright__img" src="images/svg-icon/htmlacademy.png" alt="Copyright" /></a></div>
            </div>
        </footer>
        <script src="scripts/common.js"></script>
    </div>
</body>

</html>
