<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Cat energy</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/index.css" />
</head>

<body class="page">
    <div class="page__container">
        <header class="header">
            <div class="box header__box">
                <div class="header__actions"><a class="logo header__logo" href="index.html">
                        <picture>
                            <source class="logo__img" srcset="images/svg-icon/logo-mobile.svg" alt="Logo" media="(max-width: 767px)" />
                            <source class="logo__img" srcset="images/svg-icon/logo-tablet.svg" alt="Logo" media="(max-width: 991px)" /><img class="logo__img" src="images/svg-icon/logo-desktop.svg" alt="Logo" /></picture>
                    </a><button class="button-menu header__button-menu"><span class="button-menu__container"></span></button></div>
                <nav class="nav header__nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link nav__link--active" href="index.html">Главная</a></li>
                        <li class="nav__item"><a class="nav__link" href="catalog.html">Каталог продукции</a></li>
                        <li class="nav__item"><a class="nav__link" href="program.html">Подбор программы</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="hero">
                <div class="box hero__box">
                    <div class="hero__description">
                        <h1 class="title hero__title">Функциональное питание для котов</h1>
                        <p class="hero__text">Занялся собой? Займись котом!</p><a class="button" href="#5"><span class="button__text">Подобрать программу</span></a>
                    </div>
                    <div class="image-box hero__image-box">
                        <picture>
                            <source class="image-box__img hero__img" srcset="images/hero/hero-mobile.png" alt="Hero" media="(max-width: 576px)" />
                            <source class="image-box__img hero__img" srcset="images/hero/hero-tablet.png" alt="Hero" media="(max-width: 991px)" /><img class="image-box__img hero__img" src="images/hero/hero.png" srcset="images/hero/hero@2x.png" alt="Hero" /></picture>
                    </div>
                </div>
            </div>
            <section class="categories">
                <div class="box categories__box">
                    <div class="category categories__item">
                        <header class="category__header">
                            <div class="category__image category__image--cat-slim"></div>
                            <p class="category__title">Похудение</p>
                        </header>
                        <div class="category__description">
                            <p class="category__text category__text--slim">Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.</p><a class="category__link" href="#5">Каталог Slim<img class="category__image-link" src="images/svg-icon/right-arrow.svg" alt="Arrow link" /></a>
                        </div>
                    </div>
                    <div class="category categories__item">
                        <header class="category__header">
                            <div class="category__image category__image--cat-pro"></div>
                            <p class="category__title">Набор Массы</p>
                        </header>
                        <div class="category__description">
                            <p class="category__text category__text--pro">Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p><a class="category__link" href="#5">Каталог Pro<img class="category__image-link" src="images/svg-icon/right-arrow.svg" alt="Arrow link" /></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="advantages">
                <div class="box advantages__box">
                    <h2 class="title advantages__title">Как это работает</h2>
                    <div class="advantages__list">
                        <div class="advantage advantages__item">
                            <div class="advantage__image-background">
                                <div class="image-box advantage__image advantage__image--functional-nutrition"><img class="image-box__img" src="images/svg-icon/advantage-1.svg" alt="Advantage" /></div>
                            </div>
                            <div class="advantage__description">
                                <p class="advantage__text">Функциональное питание содержит только полезные питательные вещества.</p>
                            </div><span class="advantage__background-text">1</span>
                        </div>
                        <div class="advantage advantages__item">
                            <div class="advantage__image-background">
                                <div class="image-box advantage__image advantage__image--powder-nutrition"><img class="image-box__img" src="images/svg-icon/advantage-2.svg" alt="Advantage" /></div>
                            </div>
                            <div class="advantage__description">
                                <p class="advantage__text">Выпускается в виде порошка, который нужно лишь залить кипятком и готово.</p>
                            </div><span class="advantage__background-text">2</span>
                        </div>
                        <div class="advantage">
                            <div class="advantage__image-background">
                                <div class="image-box advantage__image advantage__image--cutlery"><img class="image-box__img" src="images/svg-icon/advantage-3.svg" alt="Advantage" /></div>
                            </div>
                            <div class="advantage__description">
                                <p class="advantage__text">Замените один-два приема обычной еды на наше фунцкциональное питание.</p>
                            </div><span class="advantage__background-text">3</span>
                        </div>
                        <div class="advantage">
                            <div class="advantage__image-background">
                                <div class="image-box advantage__image advantage__image--time"><img class="image-box__img" src="images/svg-icon/advantage-4.svg" alt="Advantage" /></div>
                            </div>
                            <div class="advantage__description">
                                <p class="advantage__text">Уже через месяц наслаждайтесь изменениями к лучшему<br> вашего питомца!</p>
                            </div><span class="advantage__background-text">4</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="example">
                <div class="box">
                    <h3 class="title example__title">Живой пример</h3>
                </div>
                <div class="example__content">
                    <div class="box example__box">
                        <div class="example__description">
                            <p class="example__text">Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день. </p>
                            <div class="example__statistic">
                                <div class="example-statistic example__statistic-item">
                                    <div class="statistic-item"><span class="statistic-item__data">5 кг</span><span class="statistic-item__text statistic-item__text--weight">Снижение веса</span></div>
                                    <div class="statistic-item"><span class="statistic-item__data">60 дней</span><span class="statistic-item__text statistic-item__text--time">Затрачено времени</span></div>
                                </div>
                                <div class="example__expenses">
                                    <p class="example__expenses-text">Затраты на питание:</p>
                                    <p class="example__expenses-text">15 000 руб.</p>
                                </div>
                            </div>
                        </div>
                        <div class="example__result">
                            <div class="image-box example__image-box">
                                <picture>
                                    <source class="image-box__img" srcset="images/result/result-mobile.png" alt="Result" media="(max-width: 575px)" />
                                    <source class="image-box__img" srcset="images/result/result-tablet.png" alt="Result" media="(max-width: 991px)" /><img class="image-box__img" src="images/result/result.png" srcset="images/result/result@2x.png 2x" alt="Result" /></picture>
                            </div>
                            <div class="example-result"><span class="example-result__text">Было</span>
                                <div class="example-result__control">
                                    <div class="example-result__scale"></div>
                                    <div class="example-result__toggle"></div>
                                    <div class="example-result__toggle-center"></div>
                                </div><span class="example-result__text">Стало</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="map"><iframe class="map__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253003151!2d30.320858716211177!3d59.938719169054096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1559132482330!5m2!1sru!2sru" width="600" height="400"></iframe>
                <div class="box map__box">
                    <div class="map-address">
                        <p class="map-address__title">Приглашаем <br> к сотрудничеству дилеров!</p>
                        <p class="map-address__address"><span class="map-address__text">ул. Большая Конюшенная, д. 19/8</span><span class="map-address__text">Санкт-Петербург</span></p>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="box footer__box"><a class="logo footer__logo" href="index.html"><img class="logo__img footer__logo-img" src="images/svg-icon/footer-logo.svg" alt="Footer logo" /></a>
                <div class="social-links footer__social-links">
                    <ul class="social-links__list">
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img" src="images/svg-icon/vk.png" /></a></li>
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img social-links__img--insta" src="images/svg-icon/insta.png" /></a></li>
                        <li class="social-links__item"><a class="social-links__link" href="#5"><img class="social-links__img social-links__img--fb" src="images/svg-icon/fb.png " /></a></li>
                    </ul>
                </div>
                <div class="copyright"><a class="copyright__link" href="#5">HTML Academy<img class="copyright__img" src="images/svg-icon/htmlacademy.png" alt="Copyright" /></a></div>
            </div>
        </footer>
        <script src="scripts/common.js"></script>
    </div>
</body>

</html>
